.ser-container{
    padding-left: 8%;
    padding-right: 8%;
}

.ser-contain {
    background-image: url('../assets/Service.png');
    background-size: cover; 
    background-position: center; 
    height: 70vh; 
    width: 90%; 
    padding:  5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px; 
}

.ser-text{
    background: transparent;
    text-align: center;
    max-width: 1000px;
    margin-left: 210px;
    margin-bottom: 50px;
    margin-top: -60px;
}

.ser-text .title{
    align-items: center;
    height: 15px;
    margin-bottom: 10px;
}

.ser-text .ser-head{
    font-size: 50px;
    line-height: 1;
    letter-spacing: 2px;
    background: transparent;
}



.card-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 1500px;
    padding: 0px;
    justify-content: center;
    background: transparent;
  }
  
  .card {
    background: transparent;
    border-radius: 10px;
    overflow: hidden;
    max-width: 400px;
    transition: transform 0.3s;
    cursor: pointer;
  }
  
  
  .card-image img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  
  @media screen and (max-width:1630px){
    
    .ser-contain {
        background-color: #fff;
        height: 70vh; 
        width: 90%; 
        padding:  5%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px; 
    }
    .ser-text{
        background: transparent;
        text-align: center;
        max-width: 850px;
        margin-left: 180px;
        margin-bottom: 50px;
        margin-top: -60px;
    }
    
      
      .card {
        background: transparent;
        border-radius: 10px;
        overflow: hidden;
        max-width: 350px;
        transition: transform 0.3s;
        cursor: pointer;
      }
      
      
  }
  