.cho-container{
    padding-left: 8%;
    padding-right: 8%;
}

.who-contain {
    background-color: rgb(255, 255, 255);
    height: 55vh; 
    width: 90%; 
    padding:  5%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.who-contain .text{
    text-align: center;
}

.who-contain .text  img{
    height: 15px;
    margin-bottom: 10px;
}

.who-contain .text h1{
    font-size: 50px;
    line-height: 1;
    letter-spacing: 2px;
    background: transparent;
}

.who-contain .text p{
    color: #383838;
    margin-top: 70px;
    font-size: 18px;
    letter-spacing: 1px;
    background: transparent;
    margin-bottom: 70px;
}

.stats-container {
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  .stat-box {
    background: white;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  .stat-box h1 {
    font-size: 48px;
    margin: 0;
    color: #b10000;
  }
  .stat-box h3 {
    margin: 10px 0 15px;
    font-size: 20px;
    color: #333;
  }
  .stat-box p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
  }